<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DIV + CSS</title>
    <link href="./DIVCSS5_files/style.css" type="text/css" rel="stylesheet">
    <script src="./DIVCSS5_files/jquery-1.7.2.min.js.download"></script>
    <script src="./DIVCSS5_files/underscore-min.js"></script>

    <script type="text/javascript">

$(document).ready(function(){
 $(".sis-li li").hover(function(){
  $("span.div",this).slideToggle(500);
 });
});

    </script>
</head>
<body>

<ul class="sis-li">
</ul>

<script type="text/template" class="template">
    <% _.each( rc, function( item ){ %>
    <li>
                    <span class="v1">
                        <a href="#"><img
                                src="./DIVCSS5_files/<%= item.img %>" width="226" height="154"></a>
                        <span class="div" style="display: none;">
                            <h3>INTRODUCTION</h3>
                            <span class="txt"><%= item.name %></span>
                        </span>
                    </span>
    </li>
    <% }); %>
</script>

<script type="text/javascript">

_.templateSettings.variable = "rc";

var template = _.template(
            $( "script.template" ).html()
        );

        var templateData = [
    {
        "name":1,
            "img": "i228x297.jpg"
    },
      {
        "name":2,
            "img": "i228x297.jpg"
    },
     {
        "name":3,
            "img": "i228x297.jpg"
    },
      {
        "name":4,
            "img": "i228x297.jpg"
    }
];

        $("ul.sis-li").html(template( templateData ));

</script>


</body>
</html>
